*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;
}


/*header*/

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}
nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0px 0px;
}

.nav .logo{
    height: 80px;

}

.nav .logo img{
    height: 100%;
}

.enlaces-header{
    font-weight: 5500;
    transition: ease-in-out 0.5s;
    padding-left: 450px;
}

.nav .enlaces-header a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.7s ease-in;
}

.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1{
    font-size: 50px;
}

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contenido-header>img{
    width: 780px;
    animation: ease-in animat 1.5s;
}

@keyframes animat{
    0%{
        transform:scale(0) ;
    }100% {
        transform: scale(1);
    }
}

.textos-header{
    margin: 0 0 0 30px;
}

.contenido-header a{
    margin: 28px 0 0 100px ;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 8px 32px rgba(31, 222, 130, .46);
}

.titulo{
    font-size: 50px;
}

/*About Us*/
.about-us{
    background:rgba(209, 207, 207, 0.315);
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo{
    width: 20%;
    height: 250px;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 50px 30px 10px 30px;
    transition: 0.5s;
}

.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}


.articulo>h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 26px;
}

.articulo> img{
    font-size: 30px;
    color: #fff;
    display: block;
    margin: auto;
    width: 55%;
    height: 55%;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(21, 43, 32, 0.46);   
}
/**/


.contenedor-articulo1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo1{
    width: 20%;
    height: 250px;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 50px 30px 10px 30px;
    transition: 0.5s;
}

.articulo1:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}


.articulo1>h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 26px;
}

.articulo1> img{
    font-size: 30px;
    color: #fff;
    display: block;
    margin: auto;
    width: 55%;
    height: 55%;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(21, 43, 32, 0.46);   
}


.articulo:hover{
    color: #1FDE82;
    transition: color .5s;
}



/*proyectos*/

.proyectos{
    background: #2570ff;
    padding-top: 30px;

}

.content-resuts{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;

}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
    text-align: center;
}

.proyectos-text{
    width: 37%;
}

.proyectos-text h4{
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin:100px;
}


.proyectos-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.proyectos-text>a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

/*Services*/

.service{

    display: flex;
    justify-content: space-between;

}

.service>img{
    width: 500px;
}

.box-skills{
    margin: 30px 30px 0 0;

}

.box-skills h4{
    font-size: 24px;
    background: #f2f2f2;
    width: 130%;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i{
    color: #1FDE82;
    font-size: 20px;
}

/*footer*/
footer{
    background: #f2f2f2;
    padding: 60px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.partfooter{
    width: 20%;
    justify-content: space-evenly;
}

.partfooter h4{
    color:#1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left:25px ;
}

.partfooter a{
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    margin: 5px;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.partfooter a:hover{
    color:#1FDE82;
}

.partfooter>img{
    width: 70%;
    border-radius: 25%;
}

.social-media i{
    font-size: 20px;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;   
    display: inline-block;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
}

/* Responsive */
@media screen and (max-width:950px){
    .titulo{
        font-size: 45px;
    }

    .contenido-header{
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }
    .contenido-header>img{
        width: 400px;
}

    .textos-header{
        margin: 0;
    }

    /*about us*/
    .articulo{
        width: 45%;
    }

    .articulo1> img{
        width: 25%;
        height: 55%; 
    }

    .articulo> img{
        width: 25%;
        height: 55%; 
    }





    .articulo1{
        width: 45%;
    }


/*result*/

.content-resuts{
    flex-direction: column-reverse;
}

.proyectos-text>a{
    margin-bottom: 60px;

}

.numbers{

    width: 100%;
}

.proyectos-text{
    width: 100%;

}

.numbers .number h4{
    font-size: 32px;
}

/*service*/
.service{
    flex-direction: column;
    align-items: center;

}

.box-skills{
    margin: 20px 0 40px 0;
}

.box-skills h4{
    width: 250px;
}


.service>img{
    width: 300px;
}

/*footer*/

footer{
    justify-content: space-evenly;
}

.partfooter{
    width: 40%;
    margin-bottom: 40px;
}


}

@media screen and (max-width:780px){

    .titulo{
        font-size: 35px;
    }
    h1{
        font-size:40px;
    }

    .contenido-header{
        height: 650px;
    }

    .nav{
        padding: 0 10px;
    }
 
    .contenido-header>img{
        width: 250px;
    }

    .enlaces-header{
        position: fixed;
        background: #667db6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos {

        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);

    }
    .nav .enlaces-header a{
        color: #fff;
    }

    .hamburguer{
        display: block;
    }

    /*About us*/
    .articulo{
        width: 95%;
    }
    .articulo1{
        width: 95%;
    }

    /*result*/
    .numbers .number{
        width: 95%;
    }

    .proyectos
     h4{
        font-size: 35px;
    }


    /*footer*/

    .partfooter{
        width: 95%;
        margin-bottom: 40px;
    }


    @media screen and (max-width:40px){

        .proyectos-text h4{
            margin:5px;

        }


        .partfooter h4{
            color:#1d273b;
            font-size: 16px;
            margin-left:10px ;
        }


    }



}